##OSx stuff

.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

##Java Stuff
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# gcc stuff
*.gch
*.elf
*.hex

# vim stuff
*.swp
.*.swp

# project-specific
makefile.local
*.o
objs/*


# intellij
.idea/

# cmake
cmake*/
build/
